<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctionapp89278.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e5c3bb0d-3f29-4ec5-a378-50445901fa5a/resourceGroups/ODL-serverless-architecture-89278/providers/Microsoft.Web/sites/TollBoothFunctionApp89278</ResourceId>
    <UserName>$TollBoothFunctionApp89278</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tollboothfunctionapp89278.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>